<h1>Hello, my name is José</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut qui aliquam alias, est vero, labore quas ea beatae sequi similique quod repudiandae eveniet quia eum corporis sint soluta maiores molestias.</p>
<span>Send me a message:</span>

<form action="/contact" method="POST">
  <input type="text" placeholder="First and Last Name" name="fullname">
  <input type="email" placeholder="Your Email" name="email">
  <textarea placeholder="Your message..." name="message"></textarea>
  <button>Send Message</button>
</form>
