<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      font-family: sans-serif;
      line-height: 2;
      max-width: 40em;
      margin: 0 auto;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    input,
    textarea,
    button {
      border: 1px solid lightgrey;
      margin-bottom: 1em;
      background: transparent;
      font: inherit;
      line-height: inherit;
      color: inherit
    }
  </style>
</head>
<body>
  {{{ body }}}
</body>
</html>