<h1>Hello, my name is José</h1>
<h3>Leave a message:</h3>

<form action="/contact" method="POST" enctype="multipart/form-data">

  <input type="text" name="name" placeholder="First and Last Name">

  <textarea name="content" placeholder="Your message here..."></textarea>

  <input type="file" name="attachment">

  <button>Send Message</button>
</form>
