<form method="POST">
  <label for="input-email">Email</label>
  <input id="input-email" type="email" placeholder="Email" name="email">
  
  <label for="input-password">Password</label>
  <input id="input-password" type="password" placeholder="Password" name="password">

  <button>Sign In</button>
</form>

{{#if error}}
  <p>There was an error signing up</p>
{{/if}}
