<form method="POST">
  <label for="input-name">First and Last Name</label>
  <input id="input-name" type="text" placeholder="First and Last Name" name="name">

  <label for="input-email">Email</label>
  <input id="input-email" type="email" placeholder="Email" name="email">
  
  <label for="input-password">Password</label>
  <input id="input-password" type="password" placeholder="Password" name="password">

  <button>Sign Up</button>
</form>